@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-style: normal;
    line-height: normal;
    font-family: 'Montserrat Alternates', sans-serif;
}
header, section{
    overflow: hidden;
    margin-bottom: 100px;
}
.btn {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background: black;
    font-size: 28px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
  }
  
  .btn:after,
  .btn:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid black;
    transition: all 1s;
  }
  
  .btn:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid white;
    border-left: 5px solid white;
  }
  
  .btn:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
  }
  
  .btn:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
  .btn:hover:before,
  .btn:hover:after {
    width: 100%;
    height: 100%;
  }
.navbar-logo-text{
    overflow: visible;
}
.navbar-logo-text p{
    color: white;
    font-size: 46px;
    font-weight: 900;
    overflow: visible;
}
.navbar-logo-text__letter:last-child{
    margin-top: 13px;
    margin-left: 18px;
}
.diamond-container__bottom-text{
    color: gold;
    font-size: 20px;
}
.diamond-container-top{
    align-items: center;
}
html{
    scroll-behavior: smooth;
}

.main-bg{
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
a{
    text-decoration: none;
    color: black;
}
ul li{
    list-style-type: none;
}
button{
    background: none;
    border: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 16px;
}
h4{
    font-size: 20px;
font-weight: 600;
align-self: center;
}
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.navbar{
    padding: 30px 0;
}
/* .page-wrapper {
    width: 100%;
} */
.container {
    padding: 0 258px;
}
.container {
    max-width: 100%;
}
.nav-wrapper{
    background: black;
}
.nav-content {
justify-content: space-between;
align-items: center;
padding: 20px 0;
}
.nav-contant-switcher {
    align-items: center;
}
.nav-content span{
    color: white;
}
.nav-contant-switcher__split{
    margin: 0 4px;
}
.ua,.ru {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    transition: color .4s;
}
.nav-contant-telephons-ul {
    align-items: center;
    column-gap: 10px;
}
.nav-contant-telephons-ul-li-link__img {
    width: 20px;
    height: 20px;
}
.nav-contant-telephons-ul-li-link__number {
    font-size: 24px;
}
.nav-contant-telephons-ul-li-link__number::after,.nav-contant-switcher__lang::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .5s;
}
.nav-contant-telephons-ul-li-link__number:hover::after,.nav-contant-switcher__lang:hover::after{
    width: 100%;
}
.navbar-wrapper {
    background: black;
    margin-bottom: 30px;
    position: relative;
    overflow-y: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.navbar__bg{
    position: absolute;
    opacity: 0.6;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
.diamond-container {
    position: relative;
    align-items: center;
    row-gap: 10px;
}
.diamond {
    animation: rotateDiamond 3s linear infinite; 
    transform-origin: center;
}
@keyframes rotateDiamond {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
.navbar {
    align-items: center;
    justify-content: space-between;
}
.navbar-items {
    column-gap: 30px;
}
.navbar-items-link__list {
    color:  white;
    font-size: 24px;
    font-weight: 600;
    transition: color .9s;
}
.diamond-container__text{
    font-size: 56px;
    font-weight: 900;
    color: white;
}
.navbar-items-link__list:hover{
    color: #039CFD;
}
.header-wrapper {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}
.working{
    position: relative;
    z-index: 1;
}
.page-wrapper{
    position: relative;
    z-index: 2;
}
.header__bg{
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.header-sup-title {
    color:  #039CFD;
    font-weight: 700;
    font-size: 52px;
    text-align: center;
    margin-bottom: 30px;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: transform .8s, opacity .9s;
}
.header-sup-title._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.header-flex {
    justify-content: space-between;
}
.card {
    /* width: 70%; */
    height: 480px;
    border-radius: 20px;
    margin-right: 40px;
    object-fit: cover;
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: transform .8s, opacity .9s;
}
.card._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.header-info {
    justify-content: space-between;
    transform: translate(120%, 0px);
    opacity: 0;
    transition: transform .8s, opacity .9s;
    flex-basis: 50%;
}
.header-info._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.header-info-title {
    color:  #039CFD;
    font-weight: 700;
    font-size: 52px;
}
.header-info-description {
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    color: #2C2C2C;
}
.header-info-btns{
    column-gap: 20px;
}
.header-info-btns button {
    color:  #2C2C2C;
    font-size: 30px;
    font-weight: 600;
    transition: color .6s;
    cursor: pointer;
}
.header-info-btns-button{
    border-radius: 60px;
    border: 1px solid  #2C2C2C;
    padding: 8px 16px;
    transition: color .6s, background .6s;
}
.header-info-btns-button:hover{
    background: black;
}
.header-info-btns-button:hover button{
    color: white;
}
.section {
    margin-top: 40px;
}
.working{
    position: relative;
    z-index: 2;
    padding: 20px 0;
}
.header__bg-second{
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.section-description-verify {
    align-items: center;
    column-gap: 20px;
}
.section-description-verify__worker {
    width: 50%;
    height: 400px;
    border-radius: 20px;
    margin-right: 40px;
    object-fit: cover;
    transform: translate(120%, 0px);
    opacity: 0;
    transition: transform .8s, opacity .9s;
}
.section-description-verify-info {
    width: 50%;
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: transform .8s, opacity .9s;
}
.section-description-verify__worker._active,.section-description-verify-info._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.section-description-verify-info__title,.section-suptitle {
    color:  black;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    cursor: pointer;
    margin-bottom: 16px;
  }
  .section-description-verify-info__title:hover,.section-suptitle:hover {
    color: black;
    box-shadow: inset 1000px 0 0 0 #54b3d6;
  } 
.section-description-verify-info_description {
    color:  #2C2C2C;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px; 
}
.achievements .container{
   padding-top: 20px;
   padding-bottom: 20px;
}
.section-achievements {
    padding: 40px 54px;
    border-radius: 20px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
}
.section-achievements .section-steps-cards-items{
    border-radius: 20px;
}
.section-achievements-box {
    border: 1px solid #8a8888;
    border-radius: 20px;
    row-gap: 20px;
    padding: 14px 40px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transform: translate(-1000%, 0px);
}
.section-achievements-box:nth-child(1){
    transition: transform .6s, ease .2s;
}
.section-achievements-box:nth-child(2){
    transition: transform .6s, ease .4s;
}
.section-achievements-box:nth-child(3){
    transition: transform .6s, ease .6s;
}
.section-achievements-box:nth-child(4){
    transition: transform .6s, ease .8s;
}
.section-achievements-box._active{
    transform: translate(0px, 0px);
}
.section-achievements-employ span{
    color:  #54b3d6;
    font-size: 54px;
}
.section-achievements-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}
.section-suptitle {
    align-self: center;
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: transform .5s, ease .5s;
}
.section-title{
    transform: translate(120%, 0px);
    opacity: 0;
    transition: transform .9s, ease .9s;
}
.catalog{
    position: relative;
    z-index: 2;
}
.header__bg-three{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}
.section-title._active,.section-suptitle._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.section-countries-title,.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    color: #2C2C2C;
    align-self: center;
    margin-top: 20px;
}
.section-countries{
    margin-bottom: 50px;
}
.section-countries-cards {
    justify-content: space-around;
    margin-top: 40px;
}
.section-countries-cards-items {
    align-items: center;
    row-gap: 20px;
    transform: scale(0);
    opacity: 0;
    transition: transform .9s, ease .9s;
}
.section-countries-cards-items._active{
    transform: scale(1);
    opacity: 1;
    }
.section-countries-cards-items__flag {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

  .messangers {
    display: flex;
    justify-content: center;
  }
  
  .messangers li {
    list-style: none;
  }
  
  .messangers li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
  .messangers li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  .messangers li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  .messangers li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  .messangers li a:hover:before {
    top: 0;
  }
  
  .messangers li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  .messangers li:nth-child(2) a:before{
    background: #55acee;
  }

  
  .messangers li:nth-child(3) a:before {
    background: #dd4b39;
  }
.section-steps {
    row-gap: 20px;
}
.section-steps-cards {
    padding: 20px;
    margin-top: 50px;
    column-gap: 25px;
}
.section-steps-cards-items {
    row-gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    align-items: center;
    transform: scale(0);
    padding: 20px;
    transition: transform .8s, ease .9s;
    cursor: pointer;
}
.section-steps-cards-items._active{
        transform: scale(1);
}
.section-steps-cards-items__icon {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    object-fit: cover;
}
.section-steps-cards-items__title {
    font-size: 20px;
    font-weight: 600;
    align-self: center;
}
.section-steps-cards-items:hover{
    transform: translate(0px, -20px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.section-steps-cards-items__description {
    text-align: center;
}
.section-advantages {
    row-gap: 20px;
}
.section-advantages-cards {
    padding: 20px;
    margin-top: 20px;
    column-gap: 20px;
}
.section-advantages-cards-items {
    row-gap: 20px;
}
.section-advantages-cards-items h4{
    text-align: center;
}
.section-advantages-cards-items__description {
    text-align: center;
}
.categories-info {
    margin-top: 40px;
    align-items: center;
    column-gap: 40px;
}
.categories-info-description,.services-company-box-text {
    flex-basis: 50%;
}
.categories-info-img {
    width: 50%;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    display: flex;
    flex-basis: 50%;
}
.services-company {
    margin-top: 40px;
    row-gap: 30px;
}
.services-company-box{
    column-gap: 40px;
    align-items: center;
}
.services-company-box-text{
    row-gap: 20px;
    transform: translate(120%, 0px);
    opacity: 0;
    transition: transform .8s, ease .7s;
}
.services-company-box-text h2{
    font-size: 40px;
    text-align: center;
}
.services-company-box-text p{
    font-size: 30px;
    line-height: 40px;
}
.services-company-photo {
    width: 50%;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: transform .8s, ease .4s;
}
.services-company-photo._active,.services-company-box-text._active{
    transform: scale(1);
    opacity: 1;
}
.services-company__text {
    text-align: center;
}
.section-footer{
    margin-top: 40px;
    padding: 40px 258px;
}
.contacts {
    row-gap: 40px;
}
.contacts-items {
    align-items: center;
    justify-content: center;
    column-gap: 40px;
}
.contancts-box {
    align-items: center;
    transform: scale(0);
    padding: 20px;
    transition: transform .8s, ease .9s;
    cursor: pointer;
}
.contancts-box._active{
    transform: scale(1);
}
.contacts-telephons-box__phone{
    transition: transform .8s, ease .9s;
    cursor: pointer;
}
.contacts-telephons-box__phone:nth-child(1) {
    transform: translate(-1000%, 0px);
    transition: transform .8s,  ease .3s ;
}
.contacts-telephons-box__phone:nth-child(2) {
    transform: translate(-1000%,0px);
    transition: transform .8s, ease .6s ;
}
.contacts-telephons-box__phone:nth-child(3) {
    transform: translate(-1000%,0px);
    transition: transform .8s, ease .9s ;
}
.contancts-box._active,.contacts-telephons-box__phone._active{
    transform: translate(0px,0px);
}
.contacts-telephons {
    align-items: center;
}
.contacts-telephons-box {
    margin-top: 40px;
    justify-content: center;
    column-gap: 40px;
}

  .card {
    overflow: hidden;
  }
  .section-footer{
    margin-bottom: 0;
  }
