@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-style: normal;
    line-height: normal;
    font-family: 'Montserrat Alternates', sans-serif;
}
.navbar-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
/* .nav-box{
    position: relative;
    z-index: 5;
} */
header, section{
    overflow: hidden;
}
.btn {
    cursor: pointer;
    position: relative;
    padding: 10px 10px;
    background: black;
    font-size: 28px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
  }
  
  .btn:after,
  .btn:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid black;
    transition: all 1s;
  }
  
  .btn:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid white;
    border-left: 5px solid white;
  }
  
  .btn:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
  }
  
  .btn:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
  .btn:hover:before,
  .btn:hover:after {
    width: 100%;
    height: 100%;
  }

.navbar-logo-text{
    overflow: visible;
}
.navbar-logo-text p{
    color: white;
    overflow: visible;
}
.navbar-logo-text__letter:last-child{
    /* margin-top: -13px;
    margin-left: 18px; */
}
.navbar-logo-text__letter:first-child{
    margin-top: 21px;
    margin-right: -6px;
}
.diamond-container__bottom-text{
    color: gold;
    font-size: 14px;
    margin-top: 10px;
}
.diamond-container-top__img{
    width: 67px;
    height: 27px;
    object-fit: contain;
}
.diamond-container-top{
    align-items: center;
}
html{
    scroll-behavior: smooth;
}

.main-bg{
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
a{
    text-decoration: none;
    color: black;
}
ul li{
    list-style-type: none;
}
button{
    background: none;
    border: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 16px;
}
h4{
    font-size: 20px;
font-weight: 600;
align-self: center;
}
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.navbar{
    padding: 30px 0;
}
.navbar-left,
.navbar-logo-text,
.navbar-logo-text__letter,
.diamond-container,
.diamond-container-top,
.diamond-container__text,
.diamond-container__text{
    position: relative;
    z-index: 10;
}
.navbar-left{
    align-items: center;
    column-gap: 20px;
}
/* .page-wrapper {
    width: 100%;
} */
.container,.section-footer  {
    padding: 0 258px;
}
.navbar{
    padding: 20px 258px;
}
.container {
    max-width: 100%;
}
.nav-wrapper{
    background: black;
}
.nav-content {
justify-content: space-between;
align-items: center;
padding: 20px 0;
}
.nav-contant-switcher {
    align-items: center;
}
.nav-content span{
    color: white;
}
.nav-contant-switcher__split{
    margin: 0 4px;
}
.ua,.ru {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    transition: color .4s;
}
.nav-contant-telephons-ul {
    align-items: center;
    column-gap: 10px;
}
.nav-contant-telephons-ul-li-link__img {
    width: 20px;
    height: 20px;
}
.nav-contant-telephons-ul-li-link__number {
    font-size: 24px;
}
.nav-contant-telephons-ul-li-link__number::after,.nav-contant-switcher__lang::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width .5s;
}
.nav-contant-telephons-ul-li-link__number:hover::after,.nav-contant-switcher__lang:hover::after{
    width: 100%;
}
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.navbar::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 4;
}
.navbar{
    position: relative;
    z-index: 3;
}
.navbar__bg{
    position: absolute;
    opacity: 0.6;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
.diamond-container {
    position: relative;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 26px;
}
.diamond {
    animation: rotateDiamond 3s linear infinite; 
    transform-origin: center;
}
@keyframes rotateDiamond {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
.navbar {
    align-items: center;
    justify-content: space-between;
}
.navbar p{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 36px;
}
.navbar li{
    font-family: 'Roboto', sans-serif;
}
.navbar-items {
    column-gap: 30px;
    position: relative;
    z-index: 5;
}
.navbar-items-link__list {
    color:  white;
    font-size: 24px;
    font-weight: 600;
    transition: color .9s;
}
.diamond-container__text{
    text-transform: uppercase;
    color: white;
}
.navbar-items-link__list:hover{
    color: #039CFD;
}
.header-wrapper {
    position: relative;
    overflow: hidden;
    padding: 60px 0 20px 0;
    margin-top: 106px;
}
.working{
    position: relative;
    z-index: 1;
}
.page-wrapper,.working,.achievements,.catalog,.step,.second,.services-section,.section-footer{
    position: relative;
    z-index: 2;
}
.page-wrapper::after,.working::after,.achievements::after,.catalog::after,.step::after,.second::after,.services-section::after,.section-footer::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}
.page-wrapper::after{
    background: url(/image/bg-section-3.jpg) no-repeat center/cover;
}
.working::after{
    background: url(/image/bg-2.jpg) no-repeat center/cover;
}
.achievements::after{
    background: url(/image/bg-8.jpg) no-repeat center/cover;
}
.catalog::after{
    opacity: 0.2;
    background: url(/image/bg-10.jpg) no-repeat center/cover;
}
.step::after{
    background: url(/image/bg-16.jpg) no-repeat center/cover;
}
.second::after{
    background: url(/image/bg-16.jpg) no-repeat center/cover;
    transform: rotate(180deg);
}
.services-section::after{
    background: url(/image/bg-9.jpg) no-repeat center/cover;
}
.section-footer::after{
    opacity: 0.1;
    background: url(/image/bg-2.jpg) no-repeat center/100% 100%;
}
/* .header__bg{
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
} */
.header-sup-title {
    color:  #039CFD;
    font-weight: 700;
    font-size: 52px;
    text-align: center;
    margin-bottom: 30px;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: transform .8s, opacity .9s;
}
.header-sup-title._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.header-flex {
    justify-content: space-between;
}
.card {
    /* width: 70%; */
    height: 437px;
    border-radius: 20px;
    margin-right: 40px;
    object-fit: cover;
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: transform .8s, opacity .9s;
}
.card._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.header-info {
    justify-content: space-between;
    transform: translate(120%, 0px);
    opacity: 0;
    transition: transform .8s, opacity .9s;
    flex-basis: 50%;
}
.header-info._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.header-info-title {
    color:  #039CFD;
    font-weight: 700;
    font-size: 52px;
}
.header-info-description {
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    color: #2C2C2C;
}
.header-info-btns{
    column-gap: 20px;
}
.header-info-btns button {
    color:  #2C2C2C;
    font-size: 30px;
    font-weight: 600;
    transition: color .6s;
    cursor: pointer;
}
.header-info-btns-button{
    border-radius: 60px;
    border: 1px solid  #2C2C2C;
    padding: 8px 16px;
    transition: color .6s, background .6s;
}
.header-info-btns-button:hover{
    background: black;
}
.header-info-btns-button:hover button{
    color: white;
}
.section {
    margin-top: 40px;
}
.working{
    position: relative;
    z-index: 2;
    padding: 20px 0;
}
.header__bg-second{
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.section-description-verify {
    align-items: center;
    column-gap: 20px;
}
.section-description-verify__worker {
    width: 50%;
    height: 400px;
    border-radius: 20px;
    margin-right: 40px;
    object-fit: cover;
    transform: translate(120%, 0px);
    opacity: 0;
    transition: transform .8s, opacity .9s;
}
.section-description-verify-info {
    width: 50%;
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: transform .8s, opacity .9s;
}
.section-description-verify__worker._active,.section-description-verify-info._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.section-description-verify-info__title,.section-suptitle {
    color:  black;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    cursor: pointer;
    margin-bottom: 16px;
  }
  .section-description-verify-info__title:hover,.section-suptitle:hover {
    color: black;
    box-shadow: inset 1000px 0 0 0 #54b3d6;
  } 
.section-description-verify-info_description {
    color:  #2C2C2C;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px; 
}
.achievements .container{
   padding-top: 20px;
   padding-bottom: 20px;
}
.achievements,.working{
    margin: 0;
    /* padding: 30px 0px; */
}
.achievements{
    position: relative;
}
.achievements-bg{
    position: absolute;
    left: 0;
    object-fit: cover;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}
.section-achievements {
    padding: 40px 54px;
    border-radius: 20px;
    margin: 40px 0;
    justify-content: space-between;
    border: 2px solid rgba(0, 0, 0, 0.4);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
}
.section-achievements .section-steps-cards-items{
    background: rgba(0, 0, 0, 0.65);
    border-radius: 20px;
}
.section-steps-cards div p{
    color: black;
    font-size: 20px;
}
.section-steps-cards div{
    border-radius: 20px;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
}
.section-steps-cards div:hover{
    background: rgba(255, 255, 255, 0.97);
}
.section-steps-cards-items span,.section-steps-cards-items p{
    color: white;
}
.section-steps-cards-items h4{
    text-align: center;
    font-size: 26px;
}
.section-achievements-box {
    border: 1px solid #8a8888;
    border-radius: 20px;
    row-gap: 20px;
    padding: 14px 40px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transform: translate(-1000%, 0px);
}
.section-achievements-box:nth-child(1){
    transition: transform .6s, ease .2s;
}
.section-achievements-box:nth-child(2){
    transition: transform .6s, ease .4s;
}
.section-achievements-box:nth-child(3){
    transition: transform .6s, ease .6s;
}
.section-achievements-box:nth-child(4){
    transition: transform .6s, ease .8s;
}
.section-achievements-box._active{
    transform: translate(0px, 0px);
}
.section-achievements-employ span{
    color:  #54b3d6;
    font-size: 54px;
}
.section-achievements-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}
.section-suptitle {
    align-self: center;
    transform: translate(-120%, 0px);
    opacity: 0;
    text-transform: uppercase;
    transition: transform .5s, ease .5s;
}
.section-title{
    transform: translate(120%, 0px);
    opacity: 0;
    transition: transform .9s, ease .9s;
}
.catalog{
    position: relative;
    z-index: 2;
}
.header__bg-three{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    z-index: -1;
}
.section-title._active,.section-suptitle._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.catalog{
    margin-top: 0;
}
.catalog .messangers{
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.catalog .messangers .glass-btn{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.glass-btn span{
    font-size: 26px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.glass-btn__telegram{
    color: #006fff;
}
.glass-btn__whatsaap{
    color: green;
}
.messangers-box{
    display: flex;
    column-gap: 20px;
}
.messangers-title{
    font-size: 36px;
    font-weight: 900;
    color: black;
    font-family: 'Roboto', sans-serif;
    width: 900px;
    text-align: center;
}
.section-countries-title,.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    align-self: center;
    margin-top: 20px;
}
.section-countries{
    margin-bottom: 50px;
    margin-top: 30px;
}
.section-countries-cards {
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 30px;
}
.section-countries-cards div{
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.25);
}
.section-countries-cards div:hover{
    background: rgba(0, 0, 0, 0.95);
}
.section-countries-cards-items {
    align-items: center;
    row-gap: 20px;
    transform: scale(0);
    opacity: 0;
    transition: transform .9s, ease .9s;
}
.services {
    margin-bottom: 0;
}
.section-countries-cards-items._active{
    transform: scale(1);
    opacity: 1;
    }
.section-countries-cards-items__flag {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

  .messangers {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    column-gap: 50px;
  }
  .messangers_icon{
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
  .messangers li {
    list-style: none;
  }
  .glass-btn {
    column-gap: 20px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    margin-left: 1em;
    margin-right: 1em;  
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s;
  }
  .glass-btn img{
    width: 96px;
    height: 96px;
  }
  
  .glass-btn.blue-btn {
    -webkit-box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
    -moz-box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
    box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
  }
  
  .glass-btn.blue-btn:hover {
    -webkit-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
    -moz-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
    box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);      
  }
  
  .glass-btn.blue-btn .content {
    font-size: 4em;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #006fff, #00acff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 10px 37px rgba(0, 111, 255, 0.8);
  }
  
  .glass-btn.red-btn {
    -webkit-box-shadow: 0px 20px 20px -17px rgba(255, 16, 39, 0.5);
    -moz-box-shadow: 0px 20px 20px -17px rgba(255, 16, 39, 0.5);
    box-shadow: 0px 20px 20px -17px rgba(255, 16, 39, 0.5);
  }
  
  .glass-btn.red-btn:hover {
    -webkit-box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);
    -moz-box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);
    box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);      
  }
  
  .glass-btn.red-btn .content {
    font-size: 4em;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #ff1027, #ff4f06 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 10px 37px rgba(255, 16, 39, 0.6);
  }
  
  .glass-btn.amber-btn {
    -webkit-box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
    -moz-box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
    box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
  }
  
  .glass-btn.amber-btn:hover {
    -webkit-box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
    -moz-box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
    box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);      
  }
  
  .glass-btn.amber-btn .content {
    font-size: 4em;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #ff8d00, #f7ad07 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 10px 37px rgba(255, 94, 16, 0.7);
  }
  
  .glass-btn:hover {
    background-color: darken(#fafafa, 2%);    
    transform: translateY(-5px);
    transition: all 0.3s;
  }
/*   
  .messangers li a {
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
  .messangers li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  .messangers li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  .messangers li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  .messangers li a:hover:before {
    top: 0;
  }
  
  .messangers li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  .messangers li:nth-child(2) a:before{
    background: #55acee;
  }

  
  .messangers li:nth-child(3) a:before {
    background: #dd4b39;
  } */
.section-steps {
    row-gap: 20px;
}
.section-steps-cards {
    padding: 20px;
    margin-top: 50px;
    column-gap: 25px;
    justify-content: space-between;
}
.section-steps-cards-items {
    row-gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    align-items: center;
    transform: scale(0);
    padding: 20px;
    transition: transform .8s, ease .9s;
    cursor: pointer;
}
.section-steps-cards-items._active{
        transform: scale(1);
}
.section-steps-cards-items__icon {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    object-fit: cover;
}
.section-steps-cards-items__title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.section-steps-cards-items:hover{
    transform: translate(0px, -20px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: rgba(0, 0, 0, 0.95);
}
.section-steps-cards-items__description {
    text-align: center;
}
.section-advantages {
    row-gap: 20px;
}
.section-advantages-cards {
    padding: 20px;
    margin-top: 20px;
    column-gap: 20px;
    justify-content: space-between;
}
.section-advantages-cards-items {
    row-gap: 20px;
}
.section-advantages-cards-items h4{
    text-align: center;
}
.step{
    position: relative;
    background: #039dfd28;
    padding: 30px 0;
    margin: 0;
}
.step__bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}
.second .step__bg{
    transform: rotate(180deg);
}
.section-advantages-cards-items__description {
    text-align: center;
}
.categories-info {
    margin-top: 40px;
    align-items: center;
    column-gap: 40px;
}
.categories-info-description,.services-company-box-text {
    flex-basis: 50%;
    
}
.services{
    position: relative;
    z-index: 2;
    padding: 30px 0;
}
/* .services__bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
} */
.categories-info-img {
    width: 50%;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    display: flex;
    flex-basis: 50%;
}
.services-company {
    margin-top: 40px;
    row-gap: 30px;
}
.services-company-box{
    column-gap: 40px;
    align-items: center;
}
.services-company-box-text{
    row-gap: 20px;
    transform: translate(120%, 0px);
    opacity: 0;
    transition: transform .8s, ease .7s;
}
.services-company-box-text h2{
    font-size: 40px;
    text-align: center;
}
.services-company-box-text p{
    font-size: 20px;
    line-height: 40px;
    text-align: left;
}
.services-company-photo {
    width: 50%;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: transform .8s, ease .4s;
}
.services-company-photo._active,.services-company-box-text._active{
    transform: scale(1);
    opacity: 1;
}
.services-company__text {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.contacts-top {
    margin-top: 0;

}
.section-footer {
    position: relative;
}
.contacts img{
    width: 50px;
    height: 50px;
}
.section-footer::after{
    content: '';
    position: absolute;
    background: url(/image/footer-bg.jpeg) no-repeat center/cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    opacity: 1;
}
.contacts h2{
    font-size: 40px;
}
.contacts-items {
    align-items: center;
    justify-content: center;
    column-gap: 40px;
}
.contancts-box {
    align-items: center;
    transform: scale(0);
    padding: 20px;
    transition: transform .8s, ease .9s;
    cursor: pointer;
}
.contancts-box._active{
    transform: scale(1);
}
.contacts-telephons-box__phone{
    transition: transform .8s, ease .9s;
    cursor: pointer;
}
.contacts-telephons-box__phone:nth-child(1) {
    transform: translate(-1000%, 0px);
    transition: transform .8s,  ease .3s ;
}
.contacts-telephons-box__phone:nth-child(2) {
    transform: translate(-1000%,0px);
    transition: transform .8s, ease .6s ;
}
.contacts-telephons-box__phone:nth-child(3) {
    transform: translate(-1000%,0px);
    transition: transform .8s, ease .9s ;
}
.contancts-box._active,.contacts-telephons-box__phone._active{
    transform: translate(0px,0px);
}
.contacts-telephons {
    align-items: center;
    row-gap: 40px;
}
.contacts-telephons-box {
    margin-top: 40px;
    justify-content: center;
    column-gap: 40px;
    row-gap: 44px;
}
.contacts{
    position: relative;
    z-index: 1;
}
.contacts__bg{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
}
  .card {
    overflow: hidden;
  }
  .section-footer{
    margin-bottom: 0;
    padding-top: 0;
  }
.contacts-box{
    justify-content: space-between;
    margin: 30px 0;
}
.contacts-box ul{
    row-gap: 10px;
}
.contacts-box ul li{
    display: flex;
    align-items: center;
}
.contacts-box__text{
    font-size: 25px;
    font-weight: 700;
}
/* form */
.form {
    background-color: #fff;
    border-radius: 8px;
    justify-content: space-between;
    padding: 20px;
    width: 500px;
    height: 600px;
}
.form-container{
    row-gap: 12px;
}
.form__label {
    display: block;
    font-weight: bold;
    font-size: 36px;
}

.form__input, .form-select {
    width: 100%;
    padding: 14px 8px;
    font-size: 22px;
    box-sizing: border-box;
}
.form-input-block__span{
    color: red;
    font-size: 18px;
    font-weight: 600;

}
.form-input-block{
    position: relative;
    row-gap: 10px;
}
.form-select {
    appearance: none;
    background: url('down-arrow.png') no-repeat right #fff;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    padding-right: 30px;
    cursor: pointer;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    margin-right: 10px;
}

#telegram-icon {
    background-image: url('telegram-icon.png');
}

#whatsapp-icon {
    background-image: url('whatsapp-icon.png');
}

.form__button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 36px;
    margin-top: 20px;
}
.iti{
    width: 100%;
}
.form__button:hover {
    background-color: #45a049;
}
.select__option{
    position: relative;
    font-size: 26px;
}
.select__option::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}
.select__option:first-child:before{
        background: url(/image/telegram.png) no-repeat center/cover;
}
.select__option:last-child:before{
    background: url(/image/whatsaap-icon.png) no-repeat center/cover;
}
@media (max-width:1600px) {
    .container,.navbar,.section-footer {
        padding: 0 170px;
    }
    .navbar-items-link__list{
        font-size: 20px;
    }
    .navbar p{
        font-size: 32px;
    }
    .header-sup-title{
        font-size: 44px;
    }
    .header-info-title{
        font-size: 38px;
    }
    .header-info-description{
        font-size: 28px;
    }
    .header-info{
        width: 40%;
        flex-basis: 0;
    }
    .header-info-btns button{
        font-size: 24px;
    }
    .card{
        margin-right: 0;
        height: 448px;
    }
    .header-img {
        width: 533px;
    }
    .section-description-verify-info_description{
        font-size: 16px;
    }
    .section-description-verify-info__title, .section-suptitle{
        font-size: 34px;
        text-align: unset;
    }
    .section-description-verify__worker{
        width: 48%;
    }
    .section-achievements{
        padding: 26px;
    }
    .section-achievements-employ span{
        font-size: 40px;
    }
    .section-countries-title, .section-title{
        font-size: 34px;
    }
    .section-steps-cards{
        flex-direction: column;
        row-gap: 26px;
    }
    .section-countries-title, .section-title{
        text-align: center;
    }
    .section-steps-cards-items h4{
        font-size: 30px;
        margin-bottom: 14px;
    }
    .categories-info-img{
        width: 500px;
    }
    .services-company-box-text h2{
        font-size: 32px;
        text-align: left;
    }
    .messangers{
        padding: 0;
        column-gap: 26px;
    }
}
@media (max-width:1280px){
    .navbar{
        padding: 10px 100px;
    }
    .container,.section-footer{
        padding: 0 100px;
    }
    .navbar p{
        font-size: 22px;
    }
    .navbar li{
        font-size: 18px;
    }
    .header-sup-title{
        font-size: 32px;
    }
    .header-info-title{
        font-size: 28px;
    }
    .header-info-description{
        font-size: 22px;
        line-height: 32px;
    }
    .card{
        height: 350px;
        width: 486px;
        flex-basis: 54%;
    }
    .header-flex{
        column-gap: 21px;
    }
    .header-info-btns button{
        font-size: 20px;
    }
    .header-flex{
        justify-content: unset;
    }
    .section-description-verify-info__title, .section-suptitle{
        font-size: 30px;
    }
    .section-achievements-text{
        word-break: break-word;
    }
    .section-steps-cards-items{
        padding: 8px;
    }
    .section-achievements{
        padding: 16px;
    }
    .messangers-title{
        font-size: 28px;
    }
    .section-title{
        font-size: 28px;
    }
    .section-suptitle{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .section-steps-cards{
        margin-top: 10px;
    }
    .categories-info{
        flex-direction: column;
        row-gap: 10px;
    } 
    .categories-info-img{
        width: 79%;
    }
    .services-company-box-text h2{
        font-size: 29px;
    }
    .services-company-box-text p{
        line-height: 32px;
    }
    .services-company .section-title{
        margin-top: 0;
    } 
    .services-company .glass-btn img{
        width: 70px;
        height: 70px;
    }
}


.navbar-burger.active::before{
    transform: rotate(45deg);
    top: 9px;
}
.navbar-burger.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
}
.navbar-burger.active span{
    scale: 0;
}
.navbar-burger.active span{
    transition: scale .5s;
}
.navbar-burger{
    display: none;
    position: relative;
    z-index: 5;
}
@media (max-width:1024px){
    .container, .navbar,.section-footer {
        padding: 0 10px;
    }
    .navbar-items{
        column-gap: 18px;
    }
    .navbar li{
        font-size: 17px;
    }
    .diamond-container{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navbar-logo-text__letter:first-child{
        margin-top: 13px;
    }
    .header-wrapper{
        margin-top: 56px;
    }
    .header-sup-title{
        font-size: 28px;
    }
    .header-flex{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    header,section{
        margin-bottom: 37px;
    }
    .section-description-verify-info__title, .section-suptitle{
        font-size: 27px;
        margin-bottom: 10px;
    }
    .section-description-verify__worker{
        height: 330px;
        margin-right: 4px;
    }
    .services-company{
        row-gap: 20px;
        margin-top: 20px;
    }
    header, section{
        margin-bottom: 0;
        margin-top: 0;
    }
    .section-footer{
        margin-top: 0;
        padding-top: 20px;
    }
    .contacts h2{
        font-size: 32px;
    }
    .categories-info-img{
        flex-basis: unset;
    }
    .services-company-box-text{
        row-gap: 6px;
    }
    .services-company-photo{
        height: 328px;
    }
    .services-company-box-text h2{
        font-size: 26px;
    }
    .section-steps-cards{
        margin-top: 1px;
        row-gap: 20px;
    }
    .categories-info .categories-info-description{
        flex-basis: unset;
    } 
    .services-company-box-text{
        margin-top: 20px;
    }
    .section-steps-cards-items__icon{
        width: 77px;
        height: 77px;
    }
    .section-steps-cards-items h4{
        font-size: 26px;
    }
    .section-steps-cards div p{
        font-size: 19px;
    }
    .header-info{
        width: 100%;
        text-align: center;
    }
    .messangers-title{
        font-size: 24px;
    }
    .glass-btn span{
        font-size: 22px;
    }
    .glass-btn img{
        width: 54px;
        height: 54px;
    }
    .section-countries-cards-items__flag{
        width: 155px;
        height: 155px;
    }
    .section-title._active, .section-suptitle._active{
        line-height: unset;
    }
    .section-title{
        font-size: 25px;
    }
    .section-countries-title, .section-title{
        line-height: unset;
        margin-top: 4px;
    }
    .section-achievements{
        margin: 20px 0;
    }
    .section-achievements-text{
        font-size: 17px;
    }
    .section-achievements-employ span{
        font-size: 28px;
    }
    .section-description-verify-info_description{
        line-height: 30px;
    }
    .header-info-btns{
        justify-content: center;
        margin-top: 20px;
    }
    .header-info-description{
        font-size: 20px;
    }
    .header-info-btns button{
        font-size: 28px;
    }
    .section{
        margin-bottom: 0;
    }
    .glass-btn span{
        color: rgba(255, 217, 0, 0.8);
    }
    .form{
        width: 450px;
        height: 600px;
    }
    .form__label,.form__button{
        font-size: 30px;
    }
    .select__option{
        font-size: 18px;
    }
}
@media (max-width:768px){
    body.lock{
        overflow: hidden;
    }
    .navbar-wrapper{
        position: relative;
    }
    .navbar-burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .navbar-items{
        position: fixed;
        z-index: 3;
        top: -100%;
        flex-direction: column;
        row-gap: 20px;
        left: 0;
        width: 100%;
        height: 100%;
        background: blue;
        transition: all .4s;
        padding: 70px 0 0 10px;
    }
    .nav-box.active{
        top: 0;
    }
    .navbar-burger span{
        position: absolute;
        left: 0;
        top: 10px;
        height: 2px;
        width: 100%;
        background: white;
        transition: scale .5s;
    }
    .navbar-left{
       
    }
    .navbar-burger::before,
    .navbar-burger::after{
        position: absolute;
        content: '';
        background: white;
        width: 100%;
        height: 2px;
        left: 0;
        transition: transform .5s;
    }
    .btn{
        padding: 5px;
    }
    .navbar p{
        font-size: 16px;
    }
    .navbar{
        height: 62px;
        padding: 10px 0;
        justify-content: space-between;
        position: fixed;
    }
    .navbar{
        padding: 10px;
    }
    .navbar p{
        font-size: 17px;
    }
    .navbar-burger::before{
        top: 0;
    }
    .navbar-burger::after{
        bottom: 0;
    }
    .diamond-container{
        margin-top: 0;
        margin-bottom: 0px;
    }
    .btn:after {
        top: -1px;
        left: -1px;
        border-top: 2px solid white;
        border-left: 2px solid white;
      }
      
      .btn:before {
        bottom: 2px;
        right: -2px;
        border-bottom:2px solid white;
        border-right: 2px solid white;
      }
      .card,.section-description-verify__worker,.categories-info-img,.services-company-photo._active, .categories-info-img{
        height: 276px;
        width: 408px;
      }
      .diamond-container__bottom-text{
        margin-top: 0;
        font-size: 12px;
      }
      .navbar-logo-text__letter:first-child{
        margin-top: 12px;
      }
      .header-wrapper{
        margin-top: 10px;
      }
      .header-sup-title{
        font-size: 20px;
      }
      .header-flex{
        row-gap: 10px;
      }
      .header-sup-title{
        margin-bottom: 10px;
      }
      .header-info-title{
        font-size: 19px;
      }
      .header-info-description{
        text-align: left;
        font-size: 18px;
      }
      .header-info-description{
        line-height: 22px;
        font-size: 16px;
        margin-top: 10px;
      }
      .header-info-btns button{
        font-size: 16px;
      }
      .header-info-btns{
        margin-top: 13px;
      }
      .section-description-verify,.services-company-box{
        flex-direction: column;
        row-gap: 14px;
      }
      .section-description-verify:nth-child(2){
        margin-top: 16px;
        flex-direction: column-reverse;
      } 
      .section-description-verify-info{
        width: 100%;
      }
      .section-description-verify-info__title, .section-suptitle{
        font-size: 20px;
      }
      .section-description-verify-info_description{
        line-height: 22px;
      }
      .achievements .container,.section-footer {
        padding-top: 0;
        padding-bottom: 0;
      }
      .section-achievements{
        flex-direction: column;
        row-gap: 16px;
      }
      .section-achievements{
        padding: 24px;
      }
      .section-achievements-text{
        text-align: center;
      }
      .section-title{
        font-size: 20px;
      }
      .section-countries-cards-items__flag{
        width: 92px;
        height: 92px;
      }
      .section-steps-cards-items{
        row-gap: 10px;
      }
      .section-countries-cards{
        margin-bottom: 20px;
        margin-top: 20px;
      }
      .messangers-title{
        width: unset;
      }
      .messangers-title,.section-steps-cards-items h4{
        font-size: 20px;
      }
      .glass-btn img{
        width: 47px;
        height: 47px; 
      }
      .glass-btn span{
        color: black;
        font-size: 18px;
      }
      .section-steps-cards div p{
        font-size: 16px;
      }
      .section-steps-cards-items h4{
        margin-bottom: 8px;
      }
      .section-steps-cards-items__icon{
        width: 60px;
        height: 60px;
      }
      .section-steps{
        row-gap: 0px;
      }
      .step{
        padding: 10px 0;
      }
      .services-company-box-text h2{
        font-size: 20px;
      }
      .services-company-box-text{
        margin-top: 10px;
      }
      .services-company-box-text p{
        line-height: 20px;
        font-size: 19px;
      }
      .section-title._active, .section-suptitle._active{
        text-align: center;
        font-size: 22px;
      }
      .services-company .glass-btn img{
        width: 60px;
        height: 60px;
      }
      .section-footer{
        padding: unset;
      }
      .glass-btn span{
        color: white;
      }
      .section-countries .glass-btn span{
        color: black;
      }
      .form{
        margin: 0 auto;
        width: 350px;
        height: 450px;
    }
    .form__label,.form__button{
        font-size: 18px;
    }
    .select__option,.form-input-block__span{
        font-size: 16px;
    }
    .form__input, .form-select{
        padding: 6px;
        font-size: 18px;
    }
    .form-select{
        font-size: 18px;
    }
    .form-container{
        row-gap: 4px;
    }

}
@media (max-width:530px){
    .card,.section-description-verify__worker,.categories-info-img,.services-company-photo._active, .categories-info-img{
        width: 319px;
        height: 199px;
    }
    .form{
        margin: 0 auto;
        width: 300px;
        height: 360px;
    }
    .form__label,.form__button{
        font-size: 16px;
    }
    .select__option,.form-input-block__span{
        font-size: 16px;
    }
    .form__input, .form-select{
        padding: 6px;
        font-size: 16px;
    }
    .form-select{
        font-size: 16px;
    }
    .form-input-block__span{
        font-size: 13px;
    }
}